*{
margin:0;
padding:0;
font-family:arial;
border=border-box;
}
.container{
height:50px;
width:100%;
background-color:rgb(31, 34, 36);
display:flex;
justify-content:space-evenly;
color:white;
align-items:center;
}
.j:hover{
border:1.5px solid white;
}
.img{
width:120px;
height:45px;
}
a{
text-decoration:None;
color:white;
}
i{
color:white;
}
#fo{
font-size:0.85rem;
color:#cccccc;
}
.add-icon{
display:flex;
}
#o{
font-size:0.85rem;
color:#cccccc;
}
#p{
font-size:0.85rem;
color:#cccccc;
}
.input{
display:flex;
justify-content:space-evenly;
background-color:pink;
width:620px;
height:40px;
border-radius:4px;
}
.e{
width:240px;
display:flex;
justify-content:space-between;
align-items:center;
}
.search-select{
background-color:#f3f3f3;
width:50px;
text-align:center;
border-top-left-radius:4px;
border-bottom-left-radius:4px;
border:none;
}
.inline{
width:100%;
font-size:1rem;
border:none;
}
.searchicon{
width:45px;
background-color:orange;
display:flex;
justify-content:center;
align-items:center;
border-top-right-radius:4px;
border-bottom-right-radius:4px;
font-size:20px;
border:none;
}
.input:hover{
border:2px solid orange;
}
.cart i{
font-size:25px;
display:inline-block;
}
#k{
font-size:0.85rem;
font-weight:2;
display:inline-block;
}
.cart:hover{
border:2px solid white;
}
.container2{
height:30px;
width:100%;
background-color:#222f3d;
color:white;
display:flex;
align-items:center;
}
#all{
display:flex;
}
.space{
margin-left:10px;
font-size:0.85rem;
}
.space:hover{
border:1px solid white;
}
#q{
position:absolute;
right:10px;
font-size:0.9rem;
font-weight:700;
}
#q:hover{
border:1px solid white;
}
.photo{
background-image:url("j.png");
background-size:cover;
height:380px;
width:100%;
display:flex;
justify-content:center;
align-items:flex-end;
}
.r{
height:40px;
width:80%;
background-color:white;
display:flex;
justify-content:center;
align-items:center;
font-size:0.85rem;
margin-bottom:5px;
}
.i{
color:#007185;
}
.container3{
height:900px;
width:100%;
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
background-color:#e2e7e6;
}
.box{
height:400px;
width:23%;
border:2px solid black;
margin-top:10px;
background-color:white;
border:none;
padding:20px 0px 15px;
}
.box a{
color:#007185;
position:relative;
top:10px;
left:10px;
}
.oll{
height:300px;
margin:1rem 1rem 1rem 1rem;
position:relative;
top:15px;
display:flex;
justify-content:center;
align-items:center;
background-size:cover;
}
.ill{
font-size:100%;
font-family:arial;
margin-left:10px;
}
.pll{
height:320px;
margin:15px 10px 10px 5px;
display:flex;
justify-content:center;
align-items:center;
background-size:cover;
}
footer{
margin-top:15px;
}
.y{
height:40px;
width:100%;
background-color:#374758;
color:white;
display:flex;
justify-content:center;
align-items:center;
font-size:0.85rem;
}
.y a:hover{
color:pink;
cursor:pointer;
}
.lists{
height:400px;
background-color:#222f3d;
color:white;
display:flex;
justify-content:space-evenly;
}
.d{
margin-top:100px;

}
.d p{
font-size:1rem;
margin-bottom:15px;
}
.s a{
display:block;
margin-top:10px;
color:#dddddd;
}
.s a:hover{
color:pink;
cursor:pointer;
}
.hr{
color:white;
}
.za{
height:100px;
width:100%;
display:flex;
justify-content:center;
align-items:center;
background-color:#222f3d;
color:#dddddd;
margin-top:0.04rem;
}
.j{
margin-right:20px;
margin-top:10px;
}
.w{
margin-left:10px;
border:1px solid white;
padding:10px 10px 10px 10px;
}
.imgw{
height:10px;
width:15px;
background-size:cover;
}
.w:hover{
color:pink;
cursor:pointer;
}
.lastfix{
height:80px;
width:100%;
background-color:black;
color:white;
font-size:0.85rem;
display:block;
text-align:center;
padding-top:40px;
}