html,
body{
height:100%;
margin:0;
}

.container1{
background-image:url("he.jpg");
min-height:100%;
}
.container2{
background-image:url("hi.png");
min-height:400px;}

.container1,.container2{
position:relative;
background-position:center;
background-size:cover;
background-repeat:no-repeat;}


button{
position:absolute;
top:50%;
margin-left:470px;
text-align:center;
font-size:40px;
letter-spacing:8px;
}

.div{
background-color:rgb(158, 164, 161);
padding-left:150px;
padding-right:180px;
text-align:center;
height:250px;
}
h1{
text-align:center;
text-transform:uppercase;
font-size:40px;
margin-top:0px;
}
