#container{
height:1000px;
width:1000px;
border:2px solid black;
margin-left:200px;
}
#hello{
height:300px;
width:250px;
background-image:url("apj.png");
background-size:cover;
border:2px solid black;
margin-left:100px;
margin-top:10px;
display:inline-block;
}
#heading{
display:inline-block;
margin-left:100px;
margin-top:200px;
font-family:serif;
}
h1{
margin-bottom:0px;}
p{
text-align:right;
margin-top:0px;
margin-bottom:80px;
}
#h{
font-size:40px;
font-family:monospace;
margin-bottom:0px;
}
#k{
text-align:left;
display:flex;
align-self:space-between;}
#end{
margin-left:500px;
}