#container1{
background-image:url("cod1.png");
background-size:cover;
height:1000px;
width:1440px;
color:white;

}

h1{
font-size:50px;
position:relative;
top:5px;
margin-bottom:0px;
margin-left:100px;
display:inline-block;}
p{
position:relative;
top:5px;
font-size:20px;
display:inline-block;
}
.u{
position:absolute;
top:120px;
left:105px;
display:inline;
font-size:50px;
}

#hii{
font-size:80px;
font-transform:uppercase;
font-family:roboto;
position:relative;
top:728px;
padding-left:220px;
border:1px solid black;
color:white;
}

#container2{
height:350px;
width:1438px;
background-color:rgb(193, 216, 212);
display:flex;
justify-content:space-around;
}
.d{
height:300px;
width:250px;
border:1px solid white;
border-radius:15px;
position:relative;
top:20px;
}
.p{
position:relative;
top:70px;
left:10px;
margin-bottom:0px;
margin-top:0px;
padding-right:20px;
font-family:arial;
color:white;
}
.l{
position:relative;
top:70px;
margin-bottom:0px;
margin-top:2px;
text-align:center;
color:white;
}
.image1{
background-image:url("web.png");
background-size:cover;
}
.image2{
background-image:url("app.png");
background-size:cover;
}
.image3{
background-image:url("uxut.png");
background-size:cover;
}

.image1,.image2,.image3{
height:140px;
width:245px;
position:absolute;
top:2px;
left:1px;
border-radius:15px;
}
#last{
height:250px;
width:1436px;
border:2px solid black;
display:flex;
justify-content:center;
}
#div1{
background-color:rgb(82, 146, 9);
display:inline-block;
height:250px;
width:719px;
}
#div2{
background-color:rgb(119, 20, 20);
display:inline-block;
height:250px;
width:719px;
}
.h2{
color:white;
font-family:serial;
font-size:50px;
margin-bottom:0px;
margin-left:40px;
margin-top:20px;
}
.m{
padding-bottom:20px;
margin-top:20px;
text-align:left;
}